<div class="background-whiteblue height">
    <div class="padding-main">
        <div class="header">
            <div class="title">
                <h1>Figures de style</h1>
                <div class="sub-line-title"></div>
            </div>
            <div class="image">
                <img src="../assets/cat-book.png" alt="">
            </div>
        </div>

        <ul class="list">
            <div class="list-item" *ngFor="let stylisticDevice of listStylisticDevices">
                <li (click)="clickOpenCourse(stylisticDevice.id)">
                    <span class="text">{{stylisticDevice.name}}</span>
                </li>
            </div>
        </ul>
    </div>
</div>