.header{
    display: flex;
    width:100%;
    .title{
        width: 70%;
    }
    .image{
        width: 30%;
    }

    h1{
        margin-top: 7%;
    }
    img{
        width: 100%;
        height: auto;
        align-items: left;
    }
}

.list-item{
    background-color: white;
    // border: 2px black solid;
    width: 80%;
    border-radius: 45px;
    margin: 1.2em auto 1em;
    margin-right: 75px;
    list-style: none;

    li{
        margin-left: 30px;
        font-family: "Gilroy bold";
        color:var(--whiteblack);
        font-size: 15px;
    }
}

ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #BA8445; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
    font-size: 1.2em;
}