<p-card>
  Content
  <button pButton type="button" label="Direction les cours" (click)="clickCourse()" ></button>
</p-card>

<p-card>
  <ng-template pTemplate="header">
      Header content here
  </ng-template>
  Body Content
  <button pButton type="button" label="Go quizz 1"></button>
  <ng-template pTemplate="footer">
      Footer content here
  </ng-template>
</p-card>


<a routerLink="/cours" routerLinkActive="active" ariaCurrentWhenActive="page">lien du cours</a>
<router-outlet></router-outlet>