.tabmenu{
    // position :fixed;
    // bottom: 0px;
    // border: 2px solid #f11;
    align-items: center;
    justify-content: center;
    display:flex;
    
}

.conteneur{
    // border : solid 2px blue;
    position :fixed;
    bottom: 0px;
    align-items: center;
    justify-content: center;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}