
.component-container{
    height: 100%;

    .router{
        height: 100%;
    }
}



.nav {
    position: fixed;
    bottom: 0;
    justify-content: center;

        :host ::ng-deep {
        .tabmenu {
            .p-tabmenu-nav {
                display: flex;
                justify-content: space-around;
                transition: all .2s ease-out;
            }
        }
    }
}