<div class="background-whiteblue height" *ngIf="!isLoading"> 
    <img class="imgsheet" src="../assets/fiche_cours.png" alt="fiche_cours">
    <div class="padding-main">
        <p class="texte-cours" (click)="onReturnClicked()"> {{"<"}} Retour </p>
        <h1>{{stylisticDevice.name}}</h1>
        <div class="sub-line-title"></div>
        <p class="texte-cours">{{stylisticDevice.description}}</p>
        <div class="exemple">
            <p>Exemple :</p>
        <div class="sub-line-example"></div>
        <p>{{stylisticDevice.text}}</p>
        </div>
        
    </div>
</div>