.texte-cours{
    font-size: 0.9em;
    color:#3D6B76;
    font-family: "Gilroy Bold";
}


p{
    font-family: "Gilroy";
}
.imgsheet{
    position:absolute;
    top:-50px;
    right:-50px;
    max-width: 200px;
}