.texte-cours{
    font-size: 0.9em;
    color:var(--blue);
    font-family: "Gilroy Bold";
}


p{
    font-family: "Gilroy";
}

.imgsheet{
    float: right;
    width: 130px;
    max-width: 200px;
}

.height{
    height:100%;
}