<div class="ui-g">
    <p-card class="Cardapp"> 
        <h1> Cours </h1>
        <img src="../assets/book.png" alt="Book-illu">
        <p>Description : Des supers cours, super chouette woauah</p>
        <button class="ui-g-6" pButton type="button" label="Cours" (click)="clickCourse()"></button> 
    </p-card>
    <p-card class="Cardapp"> 
        <h1> Quizz </h1>
        <p>Description : Quizz ! Des quizz avec deux niveaux de difficulté</p>
        <button class="ui-g-6" pButton type="button" label="Quizz" (click)="clickQuizz()"></button>
    </p-card>
</div>