<div class="ui-g padding-main">
    <h1> Cours </h1>
        <p-card (click)="clickCourse()" class="Cardapp p-card-yellow"> 

                <h2> Figures de styles </h2>
                <p>Des fiches complétes !</p>
                <img src="../assets/book.png" alt="Book-illu">

        </p-card>

    
    
    <h1> Exercices </h1>
    <p-card (click)="clickQuizz()" class="Cardapp p-card-green"> 
        <h2> Quizz de niveau 1</h2>
        <img src="../assets/quizz1.png" alt="Illu-quizz1">
    </p-card>
    <p-card (click)="clickQuizz()" class="Cardapp p-card-blue"> 
        <h2> Quizz de niveau 2</h2>
        <img src="../assets/quizz2.png" alt="Illu-quizz2">
    </p-card>

    
</div>