/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@font-face {
    font-family: 'Gilroy bold';
    src: url('/assets/font/Gilroy-Bold.ttf'); 
}

@font-face {
    font-family: 'Gilroy';
    src: url('/assets/font/Gilroy-Regular.ttf'); 
  }

.Body{
    border : solid 2px rgb(151, 30, 151);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

div#page {
    margin: 0 auto;
    min-height: 100%;
}

H1{
    font-size: 1.5em;
    color:rgb(22, 24, 24);
    font-family: "Gilroy bold";
}

li{
    font-family: "Gilroy";
}