/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.Body{
    border : solid 2px rgb(151, 30, 151);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

div#page {
    margin: 0 auto;
    min-height: 100%;
}